import("XML")
import("rJava")
export("microarrayColors")
export("mapDataSVG")
export("dev.off")
export("setTextSVG")
export("addLinkSVG")
export("addLinkByLabelSVG")

export("SVG.VALUE")

exportClasses("SVG")
exportMethods("summary","print")
exportMethods("SVG", "SVG<-")
exportMethods("uid")
exportMethods("duplicate.node")
exportMethods("definitions", "definitions<-")
exportMethods("defaultSearchAttr", "defaultSearchAttr<-")
exportMethods("jsAnimation", "jsAnimation<-")
exportMethods("jsAddScriptFile", "jsAddScriptText","addScript")
exportMethods("read.SVG", "write.SVG", "merge.SVG<-")
exportMethods("getDimensions")
exportMethods("mapping")
exportMethods("layout<-")
exportMethods("svgDevice")
export("SVG.factory")
export("SVG.ListDimensions")

exportClasses("GradientStop")
export("GradientStop.factory")

exportClasses("Gradient")
exportMethods("id", "id<-")
exportMethods("units", "units<-")
exportMethods("transform", "transform<-")
exportMethods("spreadMethod", "spreadMethod<-")
exportMethods("xlinkHref", "xlinkHref<-")
exportMethods("stops", "stops<-")
exportMethods("URL")

exportClasses("LinearGradient")
exportMethods("coords", "coords<-")
export("LinearGradient.factory")

exportClasses("RadialGradient")
export("RadialGradient.factory")

exportClasses("SVGRect")
exportMethods("x","x<-")
exportMethods("y","y<-")
exportMethods("width","width<-")
exportMethods("height","height<-")
exportMethods("rx","rx<-")
exportMethods("ry","ry<-")
export("SVGRect.factory")

exportClasses("SVGLine")
exportMethods("x1","x1<-")
exportMethods("y1","y1<-")
exportMethods("x2","x2<-")
exportMethods("y2","y2<-")
export("SVGLine.factory")

## from virtual Layout Class
exportMethods("opacity","opacity<-")

exportClasses("LayoutGrid")
exportMethods("gridRows","gridRows<-")
exportMethods("gridColumns","gridColumns<-")
exportMethods("nbRows","nbColumns")
export("FixGrid.factory")
export("VarGrid.factory")

exportClasses("Mapping")
exportMethods("targets", "targets<-")
exportMethods("values", "values<-")
exportMethods("getFunction")
exportMethods("getFunctionParams")
exportMethods("setFunction")
exportMethods("fnRandom")
exportMethods("fnIdentity")
exportMethods("fnLinear")
exportMethods("fnRangeLinear")
exportMethods("fnLogistic")
exportMethods("fnSigmoid")
exportMethods("fnLog2FC")
exportMethods("fnUser")
exportMethods("fnNone")

exportClasses("MappingColors")
exportMethods("targetAttribute", "targetAttribute<-")
exportMethods("mapColors","mapColors<-")
exportMethods("colRange.min", "colRange.min<-")
exportMethods("colRange.max", "colRange.max<-")
exportMethods("colRange", "colRange<-")
export("MappingColors.factory")
export("MappingFillColors.factory")
export("MappingStrokeColors.factory")

exportClasses("MappingValues")
exportMethods("valuesUnit", "valuesUnit<-")
export("MappingValues.factory")
export("MappingOpacity.factory")
export("MappingFillOpacity.factory")
export("MappingStrokeOpacity.factory")
export("MappingStrokeWidth.factory")

exportClasses("MappingLinks")
export("MappingLinks.factory")

exportClasses("MappingTooltips")


