import("XML")
import("rJava")
export("microarrayColors")
export("computeExprColors")
export("mapDataSVG")
export("devSVGMapping")
export("dev.off")
export("includeSVG")
export("setTextSVG")
export("addDefinesSVG")
export("addLinkSVG")
export("addLinkByLabelSVG")

exportClasses("SVG")
exportMethods("SVG", "SVG<-")
exportMethods("uid")
exportMethods("definitions", "definitions<-")
exportMethods("defaultSearchAttr", "defaultSearchAttr<-")
exportMethods("read.SVG", "write.SVG")
exportMethods("summary","print")
exportMethods("mapping")
export("SVG.factory")

exportClasses("GradientStop")
export("GradientStop.factory")

exportClasses("Gradient")
exportMethods("id", "id<-")
exportMethods("units", "units<-")
exportMethods("transform", "transform<-")
exportMethods("spreadMethod", "spreadMethod<-")
exportMethods("xlinkHref", "xlinkHref<-")
exportMethods("stops", "stops<-")
exportMethods("URL")

exportClasses("LinearGradient")
exportMethods("coords", "coords<-")
export("LinearGradient.factory")

exportClasses("RadialGradient")
export("RadialGradient.factory")

exportClasses("Mapping")
exportMethods("targets", "targets<-")
exportMethods("values", "values<-")
exportMethods("getFunction")
exportMethods("getFunctionParams")
exportMethods("setFunction")
exportMethods("fnRandom")
exportMethods("fnIdentity")
exportMethods("fnLinear")
exportMethods("fnRangeLinear")
exportMethods("fnLogistic")
exportMethods("fnSigmoid")
exportMethods("fnUser")

exportClasses("MappingColors")
exportMethods("targetAttribute", "targetAttribute<-")
exportMethods("mapColors","mapColors<-")
exportMethods("colRange.min", "colRange.min<-")
exportMethods("colRange.max", "colRange.max<-")
exportMethods("colRange", "colRange<-")
export("MappingColors.factory")

exportClasses("MappingOpacity")
export("MappingOpacity.factory")

