import("XML")
import("rJava")
export("microarrayColors")
export("computeExprColors")
export("mapDataSVG")
export("devSVGMapping")
export("dev.off")
export("includeSVG")
export("setTextSVG")
export("addDefinesSVG")
export("addLinkSVG")
export("addLinkByLabelSVG")

exportClasses("SVG")
exportMethods("SVG", "SVG<-")
exportMethods("defaultSearchAttr", "defaultSearchAttr<-")
exportMethods("read.SVG", "write.SVG")
exportMethods("summary","print")
exportMethods("mapping")
export("SVG.factory")

exportClasses("Mapping")
exportMethods("targets", "targets<-")
exportMethods("values", "values<-")
exportMethods("getFunction")
exportMethods("getFunctionParams")
exportMethods("fnRandom")
exportMethods("fnIdentity")
exportMethods("fnLinear")
exportMethods("fnRangeLinear")
exportMethods("fnLogistic")
exportMethods("fnSigmoid")
exportMethods("fnUser")

exportClasses("MappingColors")
exportMethods("targetAttribute", "targetAttribute<-")
exportMethods("mapColors","mapColors<-")
exportMethods("colrange.min", "colrange.min<-")
exportMethods("colrange.max", "colrange.max<-")
exportMethods("colrange", "colrange<-")
