export(.callMethod)
export(GradientStop.factory)
export(LinearGradient.factory)
export(MAPPING.Identity)
export(MAPPING.Linear)
export(MAPPING.Log2FC)
export(MAPPING.Logistic)
export(MAPPING.Random)
export(MAPPING.RangeLinear)
export(MAPPING.Sigmoid)
export(MappingBioArraysColors.factory)
export(MappingColors.factory)
export(MappingFillColors.factory)
export(MappingFillOpacity.factory)
export(MappingLinks.factory)
export(MappingMasks.factory)
export(MappingOpacity.factory)
export(MappingStrokeColors.factory)
export(MappingStrokeOpacity.factory)
export(MappingStrokeWidth.factory)
export(MappingTooltips.factory)
export(MappingValues.factory)
export(Mask.factory)
export(RadialGradient.factory)
export(SVGCircle.factory)
export(SVGCoord.factory)
export(SVGEllipse.factory)
export(SVGLength.factory)
export(SVGLine.factory)
export(SVGRect.factory)
export(SVGTransform.factory)
exportClasses("CSS")
exportClasses("Circle")
exportClasses("Ellipse")
exportClasses("Gradient")
exportClasses("GradientStop")
exportClasses("Layout")
exportClasses("LinearGradient")
exportClasses("Mapping")
exportClasses("MappingColors")
exportClasses("MappingLinks")
exportClasses("MappingMasks")
exportClasses("MappingTooltips")
exportClasses("MappingValues")
exportClasses("Mask")
exportClasses("RadialGradient")
exportClasses("Rectangle")
exportClasses("SVG")
exportClasses("SVGCircle")
exportClasses("SVGCoord")
exportClasses("SVGEllipse")
exportClasses("SVGLength")
exportClasses("SVGLine")
exportClasses("SVGNode")
exportClasses("SVGRect")
exportClasses("SVGShape")
exportClasses("SVGTransform")
exportClasses("SVGUnit")
exportClasses("Vector")
exportMethods("SVG<-")
exportMethods("animations<-")
exportMethods("bbox<-")
exportMethods("color<-")
exportMethods("cssClass<-")
exportMethods("cssStyle<-")
exportMethods("cx<-")
exportMethods("cy<-")
exportMethods("defaultSearchAttrName<-")
exportMethods("fillAngle<-")
exportMethods("fx<-")
exportMethods("fy<-")
exportMethods("gradientType<-")
exportMethods("height<-")
exportMethods("id<-")
exportMethods("jsAnimation<-")
exportMethods("jsHRefs<-")
exportMethods("jsInlines<-")
exportMethods("mapColors<-")
exportMethods("mapRange.max<-")
exportMethods("mapRange.min<-")
exportMethods("mapRange<-")
exportMethods("maskContent<-")
exportMethods("maskContentUnits<-")
exportMethods("maskUnits<-")
exportMethods("offset<-")
exportMethods("opacity<-")
exportMethods("r<-")
exportMethods("roundx<-")
exportMethods("roundy<-")
exportMethods("rx<-")
exportMethods("ry<-")
exportMethods("spreadMethod<-")
exportMethods("stops<-")
exportMethods("svgTransform<-")
exportMethods("svgUnits<-")
exportMethods("targetAttribute<-")
exportMethods("targetUnit<-")
exportMethods("targets<-")
exportMethods("transFunction<-")
exportMethods("transParameters<-")
exportMethods("transforms<-")
exportMethods("uDpi<-")
exportMethods("uValue<-")
exportMethods("update<-")
exportMethods("urlPattern<-")
exportMethods("values<-")
exportMethods("width<-")
exportMethods("x1<-")
exportMethods("x2<-")
exportMethods("x<-")
exportMethods("xlinkHref<-")
exportMethods("y1<-")
exportMethods("y2<-")
exportMethods("y<-")
exportMethods(.xml)
exportMethods(SVG)
exportMethods(URL)
exportMethods(addScript)
exportMethods(animations)
exportMethods(bbox)
exportMethods(color)
exportMethods(cssClass)
exportMethods(cssStyle)
exportMethods(ctm)
exportMethods(cx)
exportMethods(cy)
exportMethods(defaultSearchAttrName)
exportMethods(duplicateNode)
exportMethods(exec)
exportMethods(fillAngle)
exportMethods(fnIdentity)
exportMethods(fnLinear)
exportMethods(fnLog2FC)
exportMethods(fnLogistic)
exportMethods(fnNone)
exportMethods(fnRandom)
exportMethods(fnRangeLinear)
exportMethods(fnSigmoid)
exportMethods(fnUser)
exportMethods(fx)
exportMethods(fy)
exportMethods(gradientType)
exportMethods(height)
exportMethods(id)
exportMethods(isChildren)
exportMethods(isRelative)
exportMethods(jsAnimation)
exportMethods(jsHRefs)
exportMethods(jsInlines)
exportMethods(mapColors)
exportMethods(mapRange)
exportMethods(mapRange.max)
exportMethods(mapRange.min)
exportMethods(maskContent)
exportMethods(maskContentUnits)
exportMethods(maskUnits)
exportMethods(offset)
exportMethods(opacity)
exportMethods(print.SVG)
exportMethods(print.SVGCircle)
exportMethods(print.SVGEllipse)
exportMethods(print.SVGLine)
exportMethods(print.SVGRect)
exportMethods(print.SVGTransform)
exportMethods(print.SVGUnit)
exportMethods(r)
exportMethods(roundx)
exportMethods(roundy)
exportMethods(rx)
exportMethods(ry)
exportMethods(spreadMethod)
exportMethods(stops)
exportMethods(summary.SVG)
exportMethods(svgTransform)
exportMethods(svgUnits)
exportMethods(targetAttribute)
exportMethods(targetUnit)
exportMethods(targets)
exportMethods(transFunction)
exportMethods(transParameters)
exportMethods(transforms)
exportMethods(uDpi)
exportMethods(uUnits)
exportMethods(uUser)
exportMethods(uValue)
exportMethods(uid)
exportMethods(urlPattern)
exportMethods(values)
exportMethods(width)
exportMethods(x)
exportMethods(x1)
exportMethods(x2)
exportMethods(xlinkHref)
exportMethods(y)
exportMethods(y1)
exportMethods(y2)
