export(GradientStop.factory)
export(LinearGradient.factory)
export(MAPPING.Identity)
export(MAPPING.Linear)
export(MAPPING.Log2FC)
export(MAPPING.Logistic)
export(MAPPING.Random)
export(MAPPING.RangeLinear)
export(MAPPING.Sigmoid)
export(MappingBioArraysColors.factory)
export(MappingColors.factory)
export(MappingFillColors.factory)
export(MappingFillOpacity.factory)
export(MappingLinks.factory)
export(MappingOpacity.factory)
export(MappingStrokeColors.factory)
export(MappingStrokeOpacity.factory)
export(MappingStrokeWidth.factory)
export(MappingValues.factory)
export(RadialGradient.factory)
export(SVGLine.factory)
export(SVGRect.factory)
exportClasses("CSS")
exportClasses("Circle")
exportClasses("Ellipse")
exportClasses("Gradient")
exportClasses("GradientStop")
exportClasses("Layout")
exportClasses("LinearGradient")
exportClasses("Mapping")
exportClasses("MappingColors")
exportClasses("MappingLinks")
exportClasses("MappingValues")
exportClasses("RadialGradient")
exportClasses("Rectangle")
exportClasses("SVGLine")
exportClasses("SVGNode")
exportClasses("SVGRect")
exportClasses("SVGShape")
exportClasses("Vector")
exportMethods("animations<-")
exportMethods("bbox<-")
exportMethods("color<-")
exportMethods("cssClass<-")
exportMethods("cssStyle<-")
exportMethods("cx<-")
exportMethods("cy<-")
exportMethods("fillAngle<-")
exportMethods("fx<-")
exportMethods("fy<-")
exportMethods("gradientType<-")
exportMethods("height<-")
exportMethods("id<-")
exportMethods("mapColors<-")
exportMethods("mapRange.max<-")
exportMethods("mapRange.min<-")
exportMethods("mapRange<-")
exportMethods("offset<-")
exportMethods("opacity<-")
exportMethods("r<-")
exportMethods("roundx<-")
exportMethods("roundy<-")
exportMethods("rx<-")
exportMethods("ry<-")
exportMethods("spreadMethod<-")
exportMethods("stops<-")
exportMethods("svgTransform<-")
exportMethods("svgUnits<-")
exportMethods("targetAttribute<-")
exportMethods("targetUnit<-")
exportMethods("targets<-")
exportMethods("transFunction<-")
exportMethods("transParameters<-")
exportMethods("urlPattern<-")
exportMethods("values<-")
exportMethods("width<-")
exportMethods("x1<-")
exportMethods("x2<-")
exportMethods("x<-")
exportMethods("xlinkHref<-")
exportMethods("y1<-")
exportMethods("y2<-")
exportMethods("y<-")
exportMethods(.xml)
exportMethods(URL)
exportMethods(animations)
exportMethods(bbox)
exportMethods(color)
exportMethods(cssClass)
exportMethods(cssStyle)
exportMethods(cx)
exportMethods(cy)
exportMethods(exec)
exportMethods(fillAngle)
exportMethods(fnIdentity)
exportMethods(fnLinear)
exportMethods(fnLog2FC)
exportMethods(fnLogistic)
exportMethods(fnNone)
exportMethods(fnRandom)
exportMethods(fnRangeLinear)
exportMethods(fnSigmoid)
exportMethods(fnUser)
exportMethods(fx)
exportMethods(fy)
exportMethods(gradientType)
exportMethods(height)
exportMethods(id)
exportMethods(mapColors)
exportMethods(mapRange)
exportMethods(mapRange.max)
exportMethods(mapRange.min)
exportMethods(offset)
exportMethods(opacity)
exportMethods(print.SVGLine)
exportMethods(print.SVGRect)
exportMethods(r)
exportMethods(roundx)
exportMethods(roundy)
exportMethods(rx)
exportMethods(ry)
exportMethods(spreadMethod)
exportMethods(stops)
exportMethods(svgTransform)
exportMethods(svgUnits)
exportMethods(targetAttribute)
exportMethods(targetUnit)
exportMethods(targets)
exportMethods(transFunction)
exportMethods(transParameters)
exportMethods(urlPattern)
exportMethods(values)
exportMethods(width)
exportMethods(x)
exportMethods(x1)
exportMethods(x2)
exportMethods(xlinkHref)
exportMethods(y)
exportMethods(y1)
exportMethods(y2)
